# Backend API
VITE_API_PROXY_TARGET=http://localhost:4000
VITE_REQUIRE_AUTH=1
VITE_DATA_SOURCE=master

# OIDC (Keycloak)
VITE_OIDC_ISSUER_URL=http://localhost:8080/realms/iot
VITE_OIDC_CLIENT_ID=iot-dashboard
VITE_OIDC_REDIRECT_URI=http://localhost:5174

# Kienlab master
VITE_MASTER_BASE=http://localhost:4000/api/v1
VITE_KIENLAB_DEVICES=F0:24:F9:57:59:18,3C:8A:1F:0B:7C:C4,D4:8A:FC:A5:ED:E0,3C:8A:1F:0B:70:D4,D4:8A:FC:99:66:68,3C:8A:1F:0B:6F:A8
VITE_MASTER_PROXY_TARGET=http://eprophet.kienlab.com

# Dev server
VITE_DEV_HTTPS=1
VITE_CSP_ORIGINS=http://localhost
