# Node modules
node_modules/

# Build outputs
dist/
.vite/

# Environment variables
.env
**/.env
!**/.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / IDE
.DS_Store
.vscode/
.idea/

/infra/.env
/backend/.env
/frontend/.env
