services:
  keycloak:
    image: quay.io/keycloak/keycloak:22.0
    command: ["start-dev","--http-port=8080","--import-realm"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/realm-iot.json:/opt/keycloak/data/import/realm-iot.json:ro

